* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-dark: black;
  --color-light: white;
  --color-gray: rgb(173, 173, 173);
  --color-text-light: rgb(221, 221, 221);
}
.body {
  font-family: 'Fira Mono', monospace;
  min-height: 100vh;
}

/* css utilities */
.hidden {
  display: none;
}
/* header */
.header {
  position: relative;
  z-index: 10;
  min-width: max-content;
  padding: 0.2rem;
  color: var(--color-text-light);
  background-color: var(--color-dark);
}
.header > h1 {
  font-size: 2rem;
}

/* .main */
.main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* start screen input */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.player-input {
  /* centering */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  padding: 2rem;
  border: 2px solid black;
  background-color: white;
}

.player-input__title {
  font-size: 1.5rem;
}
.player-input__label {
  font-size: 1.2rem;
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  margin: 0.875rem 0;
  gap: 0.2rem;
}
.player-input__text {
  display: inline;
}
.player-input__input {
  font-size: 1rem;
  font-family: 'Fira Mono', monospace;
  flex: 1;
  border: 1px solid black;
  border-radius: 0;
  padding: 0 0.5rem;
}
.player-input:focus {
  outline: none;
}
.player-input__btn {
  font-size: 1.2rem;
  display: block;
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.2rem 0.8rem;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
.player-input__btn:hover {
  background-color: rgb(226, 226, 226);
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.player__text {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}
.player__text > p {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .main {
    padding: 1rem;
  }
  .player {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.gameboard {
  min-width: 250px;
  max-width: 600px;
  aspect-ratio: 1/1;
  border-radius: 0.825rem;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.625rem;
  padding: 0.625rem;
  margin: 0 auto;
}
.gameboard__item {
  width: 100%;
  border-radius: 0.2rem;
  background-color: var(--color-light);
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}
.gameboard__item:hover {
  background-color: var(--color-gray);
}
.cross {
  background-image: url(imgs/cross.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.circle {
  background-image: url(imgs/circle.svg);
  background-repeat: no-repeat;
  background-size: 82%;
  background-position: center center;
}
/* game messages */
.game-message {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.game-message__text.info {
  color: blue;
}
.game-message__text.warning {
  color: red;
}
.game-message__text.success{
  color: green;
}  

/* footer section */
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: max-content;
  background-color: var(--color-dark);
  padding: 0 0.5rem;
  overflow: hidden;
  z-index: 10;
}
.footer__text {
  color: var(--color-text-light);
}
.footer__link {
  display: inline-block;
  list-style: none;
  color: var(--color-text-light);
  transform: translate(-5px, 5px);
}
